[2021-03-07 21:41] allcaps opened #5 "Clean up layout.html"
`sphinx_typo3_theme/layout.html` is the 'base template' and contains things we don't want/need:

- [x] Typo3 specific headers / footers / blocks
- [x] Vanilla CSS, we should use Bootstrap
- [x] Redundant comment (all comments)
- [ ] Head should at least have the current RTD-theme features

Let us keep this issue as meta-issue and open multiple

[2021-03-07 21:46] allcaps opened #6 "Check known sphinx_typo3_theme issues"
There are [known Sphinx Typo3 Theme issues](https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues) .

We need to:
- See what issues are relevant to Wagtail use-case and prioritise.
- Resolve the issues in this fork, and if possible contribute upstream.

[2021-03-07 21:57] allcaps opened #7 "Rename typo3 to wagtail"
- Rename occurrences of typo3 in folders and files.
- Where relevant set a global variable in `conf.py` (for example the site name).

I would like that Wagtail specifics are configurable via `conf.py` (a global context) so that this theme can be used by [any package in the Wagtail namespace](https://github.com/wagtail)

[2021-03-08 08:08] tbrlpld opened #8 "Improve version picker styling"
Based on: https://github.com/wagtail/wagtail/issues/6793

We need to discuss and define the required style improvements.

[2021-03-08 08:10] tbrlpld opened #9 "Sticky and scrollable TOC on the right"
Based on: https://github.com/wagtail/wagtail/issues/6793

We would like to have the TOC for the current page be shown on the right hand side of the page.

The TOC should be sticky and scrollable (important for long TOCs).

[2021-03-08 08:12] tbrlpld opened #10 "Update branding, font (size) and colour scheme as per design"
Based on: https://github.com/wagtail/wagtail/issues/6793

[Design prototype](https://www.figma.com/proto/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-(wagtail.io)?node-id=1%3A2&viewport=983%2C953%2C1&scaling=min-zoom&hide-ui=1)

[2021-03-08 08:26] tbrlpld opened #11 "Increase contrast of inline code elements"
Based on: https://github.com/wagtail/wagtail/issues/6793

A design proposal could be helpful.

Current Wagtail docs:
![image](https://user-images.githubusercontent.com/24797493/110294516-0de60d80-7f94-11eb-972b-98f17825f830.png)

Current Typo3 based theme:
![image](https://user-images.githubusercontent.com/24797493/110294584-1fc7b080-7f94-11eb-8f55-5821d1bbb6f8.png)

[2021-03-08 08:28] tbrlpld opened #12 "Sticky main navigation (on the left)"
Based on: https://github.com/wagtail/wagtail/issues/6793

We need to discuss if the main navigation should be sticky. I think it should.

[2021-03-08 08:29] tbrlpld opened #13 "Use "Segoe UI" as Windows system font in body font stack"
Based on https://github.com/wagtail/wagtail/issues/6793

[2021-03-08 08:30] tbrlpld opened #14 "Ensure syntax highlighting is loaded"
Based on https://github.com/wagtail/wagtail/issues/6793

There had been an issue:

[2021-03-08 08:31] tbrlpld opened #15 "Ensure code is readable when syntax highlighting fails"
Based on https://github.com/wagtail/wagtail/issues/6793

This means there should be a sensible fallback.

[2021-03-08 08:32] tbrlpld opened #16 "Tone down Github button / drop view source"
Based on https://github.com/wagtail/wagtail/issues/6793

Github button could be styled like the "View source" button.

[2021-03-08 08:34] tbrlpld opened #17 "Reduce inline code block padding to prevent collision"
Based on https://github.com/wagtail/wagtail/issues/6793

This should be avoided:
![image](https://user-images.githubusercontent.com/24797493/110295475-3de1e080-7f95-11eb-919d-e8aed977ebd5.png)

It would also be good to increase the font size.

[2021-03-08 08:36] tbrlpld opened #18 "Increase line heigt"
Based on https://github.com/wagtail/wagtail/issues/6793

Looking for some recommendations here, but I think 1.5 or 1.6 are widely used line height values.

[2021-03-08 08:37] tbrlpld opened #19 "Reduce "blackness" of large code blocks"
Based on  https://github.com/wagtail/wagtail/issues/6793

A design proposal might be helpful.

[2021-03-08 08:41] tbrlpld opened #20 "Deemphasize "page content" navigation font"
Based on https://github.com/wagtail/wagtail/issues/6793

I guess something like a lighter font color could be good. This should be revised after the design proposal is implemented (see #10 )

Ref, we decreased the font size here, it works pretty well. https://wagtail--6792.org.readthedocs.build/en/6792/getting_started/tutorial.html

[2021-03-08 08:42] tbrlpld opened #21 "Change Note and Warnings color"
Based on https://github.com/wagtail/wagtail/issues/6793

A design proposal would be helpful. Might also need reconsideration after #10 is implemented.

[2021-03-08 08:50] tbrlpld commented on #5
**Thought** @allcaps I am just wondering if the proposed design (#10) lends itself to implementation with Bootstrap. Otherwise we are going to be fighting Bootstrap and trying to override its styles (which I guess was the kind of thing we wanted to avoid with going for a custom theme).

To still get the benefit of the pre-made utilities, we could consider something like [Tailwind](https://tailwind

[2021-03-08 08:54] tbrlpld opened #22 "Add hover state to navigation"
Based on https://github.com/wagtail/wagtail/issues/6793

The main navigation needs a hover state.

We need to define what should the hover state do? Change link color? Show/hide underline?

[2021-03-08 08:55] tbrlpld opened #23 "Tab focus styling"
Based on https://github.com/wagtail/wagtail/issues/6793

We need to discuss and define what we want.

[2021-03-08 08:57] tbrlpld opened #24 "Remove `quoteblock` wrapping of auto-generated documentation"
Based on https://github.com/wagtail/wagtail/issues/6793

Example: https://wagtail--6792.org.readthedocs.build/en/6792/reference/hooks.html#register-snippet-action-menu-item

[2021-03-08 08:58] tbrlpld opened #25 "Keep sphinx versions in sync between RTD and local"
Based on https://github.com/wagtail/wagtail/issues/6793

Via requirements.txt  in docs wagtaill repo.

[2021-03-08 11:31] tbrlpld commented on #5
Just noticed that Bootstrap is already bundled with the theme. It's just not used that much.

[2021-03-08 11:33] tbrlpld opened #26 "Ensure semantic HTML in layout.html"
The Typo3 `layout.html` is using classes like `page-header` and `page-main` on `div` elements.

We should employ the proper HTML 5 tags that convey that meaning as well, which helps screen readers and other accessibility tools.

[2021-03-09 07:05] tbrlpld opened #28 "Update font stack as per design"
The current fonts in the Typo3 theme are not matching the design: https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-(wagtail.io)?node-id=0%3A1

We should update the font-stack accordingly.

[2021-03-10 10:59] tbrlpld opened #32 "gitignore build files"

[2021-03-10 11:01] allcaps opened #33 "Remove the build files (css) from version control"
- Add them to gitignore
- Make sure the build works

[2021-03-10 11:15] #28 closed

[2021-03-10 11:15] Stormheg opened #34 "Set up pull request documentation preview"
It would be great to have the documentation built on pull requests like described here: https://docs.readthedocs.io/en/stable/pull-requests.html

[2021-03-10 11:24] allcaps opened #35 "Add getting started developing the theme to readme"

[2021-03-10 11:28] allcaps opened #36 "Publish to PyPi"

[2021-03-10 11:32] Stormheg opened #37 "Modernise frontend tooling"
**Tasks**
- [x] Review the current setup
- [x] Clean up

[2021-03-10 18:47] #7 closed

[2021-03-10 22:45] #36 closed

[2021-03-11 10:08] thibaudcolas commented on #34
This is Done™, I pushed straight to `main` as I needed to test the results directly in Read the Docs.

Note Read the Docs doesn’t support running front-end tooling, so although there are advantages to using it to match the Wagtail docs, we may want to set up Netlify for this project.

[2021-03-11 10:08] #34 closed

[2021-03-11 11:08] allcaps opened #41 "Use Bootstrap breakpoints"
The width jumps on various viewports.

Issue #5 and #26 might resolve this.

We might use default Bootstrap breakpoints over custom CSS.

REF: https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues/102

[2021-03-11 11:11] allcaps opened #42 "Autodoc white text"
Ref https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues/74

[2021-03-11 11:13] Stormheg commented on #33
I've removed precompiled files from the build in https://github.com/wagtail/sphinx_wagtail_theme/pull/43

[2021-03-11 11:20] allcaps opened #44 "Add banner: You are not reading the most recent version"
https://docs.wagtail.io/en/v2.8.1/ has a banner.

I don't know how this works. Seems injected by JS.

[2021-03-11 11:23] allcaps opened #45 "Code snippets copy to clipboard"
Ref: https://github.com/TYPO3-Documentation/sphinx_typo3_theme/issues/22

[2021-03-11 11:25] allcaps commented on #6
Done. I opened a few new issues for things that might apply to our theme. Nothing big.
Main thing: the viewport/breakpoints.

[2021-03-11 11:25] #6 closed

[2021-03-17 10:17] allcaps commented on #18
The current line hight (and Bootstrap default) is 1.5. This is fine.
This issue should have been illustrated with the exact situation where to small line-height is 'problematic'.

[2021-03-17 10:17] #18 closed

[2021-03-17 10:43] thibaudcolas commented on #32
Closing this in favour of #33.

[2021-03-17 10:43] #32 closed

[2021-03-17 10:45] allcaps opened #48 "Fix and simplify CI"

[2021-03-17 10:49] thibaudcolas commented on #14
Looks like this is fixed!

[2021-03-17 10:49] #14 closed

[2021-03-17 10:52] allcaps opened #49 "Open a PR against Wagtail"

[2021-03-17 10:54] allcaps opened #50 "Update the theme docs"
All development notes to readme.md

[2021-03-17 11:00] allcaps opened #51 "Add git commit hash to footer"

[2021-03-17 12:21] allcaps commented on #44
This is a RTD feature. No need for the theme to do anything.

[2021-03-17 12:21] #44 closed

[2021-03-17 15:07] #33 closed

[2021-03-17 15:07] #37 closed

[2021-03-17 15:40] thibaudcolas opened #54 "Remove Read the Docs preview environment"
I’ve only disabled the GitHub integration for now, the Read the Docs project is still there: https://readthedocs.org/projects/sphinx-wagtail-theme/. This should be removed once we’ve confirmed Netlify works for us, as well as the `.readthedocs.yaml` configuration file.

[2021-03-17 17:24] thibaudcolas commented on #48
All done!

[2021-03-17 17:24] #48 closed

[2021-03-18 05:21] tbrlpld commented on #42
Here is the example: https://sphinx-wagtail-theme.netlify.app/sphinx_wagtail_theme.html

[2021-03-18 08:41] thibaudcolas opened #56 "Further front-end build cleanup"
Follow-up from #43

- [x] Switching from yarn to npm. No other Wagtail project uses yarn.
- [x] Removing the unused dependencies from the package.json (I couldn’t see http-server or popper.js being used, and Underscore doesn’t seem to actually do anything)
- [x] Splitting dependencies and devDependencies, so we have an easier time telling what’s actually used by the theme
- [ ] #171
- [ ] #170
- [

[2021-03-22 12:25] tbrlpld opened #59 "Implement sidebar according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=1%3A2

Fold buttons
Underlines
Right border

[2021-03-22 12:26] tbrlpld opened #60 "Font sizes and color according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=0%3A1

[2021-03-22 12:29] tbrlpld opened #61 "Warning and Notes according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=1%3A2

[2021-03-22 12:30] tbrlpld opened #62 "Code blocks according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=1%3A2

[2021-03-22 12:30] tbrlpld opened #63 "Link style according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=1%3A2

[2021-03-22 20:19] tbrlpld opened #64 "Clean up unused SCSS"
I have already tried to remove some while cleaning up the layout.html but there is a lot I think that can be removed.

This should be done once we have example pages with all the elements we want

[2021-03-22 20:40] tbrlpld commented on #56
Popper is used by bootstrap for certain elements. Not sure we are using any of them.

[2021-03-22 20:48] tbrlpld opened #65 "Create docs pages with example content"
The example pages should make use of all the RST elements that we care about.

This should make developing the theme a lot easier.

Typo3 example set for inspiration:
https://github.com/TYPO3-Documentation/t3SphinxThemeRtdDemoDocs/tree/master/Documentation

There is also this list of elements that the Wagtail Documentation is going to use primarily.

https://github.com/wagtail/wagtail/blob/main/do

[2021-03-24 02:50] tbrlpld opened #66 "Fixed width sidebar"
During the layout cleanup, I have set the sidebar to bootstraps `col-auto` which makes the width of the sidebar dependent on the content width.

This was a quick implementation that is not depended on the screen size, but it does not quite feel right.

I think a fixed width sidebar would make more sense (similar to the RTD theme).

[2021-03-24 09:08] allcaps opened #67 "Check current Wagtail theme overrides"
Keep overrides in Wagtail, so that the theme can be used elsewhere.

Also compare head contents.

[2021-03-24 09:09] allcaps opened #68 "Fix Search"
https://wagtail--6930.org.readthedocs.build/en/6930/index.html

[2021-03-24 09:17] tbrlpld opened #69 "Fix nested `pre` elements"

[2021-03-24 09:23] tbrlpld opened #70 "Include more heading levels in TOC"
This is deactivated in CSS. The elements are there.

[code]

Just change the styling.

[2021-03-24 09:24] Stormheg commented on #49
https://github.com/wagtail/wagtail/pull/6930

[2021-03-24 09:27] #54 closed

[2021-03-28 20:55] #5 closed

[2021-03-28 20:55] #10 closed

[2021-03-28 20:55] #26 closed

[2021-03-28 20:55] #41 closed

[2021-03-28 21:46] tbrlpld opened #72 "Add top and bottom margin around images"
Currently, the images appear very close to the text.

E.g. https://wagtail--6930.org.readthedocs.build/en/6930/editor_manual/finding_your_way_around/the_explorer_page.html#

[2021-03-31 08:21] Stormheg opened #74 "Fix version picker"
Version picker styling is currently broken

![image](https://user-images.githubusercontent.com/13856515/113113934-205a0c80-920b-11eb-88fc-6317b38673f8.png)

[2021-03-31 08:24] Stormheg commented on #74
I think it's likely that we're not loading the version picker styling

[2021-03-31 08:27] allcaps opened #75 "Remove header links"
https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_theme_options

I think this should remove the links from the header.

[code]

[2021-03-31 08:40] allcaps opened #76 "Hide short TOC with RST flag"
Add section to README how build the frontend.

Lower entry barrier for new developer to the theme.

[2021-03-31 08:52] allcaps opened #77 "Fix 'Edit on Github' link"

[2021-04-07 07:37] thibaudcolas commented on #49
Closing since we have https://github.com/wagtail/wagtail/pull/6930.

[2021-04-07 07:37] #49 closed

[2021-04-07 08:06] Stormheg opened #78 "Fix link style"
- [x] links are not very recognisable (especially when the color temperature of your screen is very warm, e.g. at night)
- [ ] links should have a visited style

[2021-04-07 08:06] tbrlpld opened #79 "Make links better visible"
Add an underline.

This was suggested in the design.

<img width="382" alt="Screen Shot 2021-04-06 at 22 06 08" src="https://user-images.githubusercontent.com/24797493/113832528-67bd2d00-9724-11eb-9840-ffffba2eb7e7.png">

[2021-04-07 08:11] tbrlpld commented on #42
This needs to be fixed for the Wagtail PR as well. Here is an example with the white text in the Wagtail docs:

https://wagtail--6930.org.readthedocs.build/en/6930/reference/pages/model_recipes.html

[2021-04-07 08:16] Stormheg commented on #24
Appears resolved in the current PR https://wagtail--6930.org.readthedocs.build/en/6930/reference/hooks.html#register-snippet-action-menu-item

[2021-04-07 11:32] tbrlpld opened #80 "Remove build of "API docs""
Currently, `make docs` builds the documentation with

[code]

The "API docs" are not anything we are using. We should remove the following lines:
[code]

[2021-04-07 12:07] #65 closed

[2021-04-07 20:12] tbrlpld opened #81 "Hide project name in header in smaller view ports"
A long title can push the toggle into another row, making the header tall and awkward looking.

![image](https://user-images.githubusercontent.com/24797493/113927694-843f8080-9789-11eb-846c-2a141c185678.png)

[2021-04-08 10:40] #66 closed

[2021-04-08 10:40] #70 closed

[2021-04-08 10:54] tbrlpld opened #83 "Make the layout screen filling"
When I updated the layout, I guess I was interpreting the design wrong.

For some reason I was interpreting it as a centered design. But, it does turn out that the centering is wasting a bunch of space.

Especially with the bootstrap breakpoints, there are many screen sizes where a lot of space is wasted.

The layout should be updated to actually follow the design.

https://www.figma.com/file/hFjW

[2021-04-09 06:40] tbrlpld opened #85 "Style site TOC (on the left) according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=0%3A1

<img width="234" alt="Screen Shot 2021-04-08 at 20 41 26" src="https://user-images.githubusercontent.com/24797493/114139476-d0cead00-98aa-11eb-8adc-0519ba5890e0.png">

[2021-04-09 06:40] tbrlpld opened #86 "Style page content TOC (on the right) according to design"
https://www.figma.com/file/hFjWqQeEjGd8NtTsEHcc4i/Wagtail-Documentation-wagtail.io?node-id=0%3A1

<img width="346" alt="Screen Shot 2021-04-08 at 20 43 19" src="https://user-images.githubusercontent.com/24797493/114139708-155a4880-98ab-11eb-8aa3-018bbf0162e8.png">

[2021-04-09 06:53] tbrlpld opened #87 "Do we need "next" and "previous" links?"
They currently have the default bootstrap style, which does not look very good.

I honestly never really use them.

Just wondering what your thoughts are?

<img width="706" alt="image" src="https://user-images.githubusercontent.com/24797493/114140901-949c4c00-98ac-11eb-8e1e-f06d79abfc02.png">

[2021-04-09 09:15] #79 closed

[2021-04-09 09:15] #63 closed

[2021-04-09 11:00] #69 closed

[2021-04-09 11:36] #42 closed

[2021-04-09 11:36] #62 closed

[2021-04-12 11:46] Stormheg commented on #87
I agree the styling doesn't look very nice. Depending of the length of the link it feels off...

Wouldn't mind not having next and previous links but curious how other people feel about this.

[2021-04-12 11:47] Stormheg commented on #24
Going to close this now as the issue appears resolved

[2021-04-12 11:47] #24 closed

[2021-04-12 11:50] Stormheg commented on #83
I received the same feedback from a friend over IM.

![signal-2021-04-08-121420_002](https://user-images.githubusercontent.com/13856515/114389944-ef2bf580-9b95-11eb-8264-dee73bedcee8.png)

[2021-04-15 01:30] tbrlpld opened #92 "RST lists could use some spacing between items"

[2021-04-16 11:24] #25 closed

[2021-04-16 12:27] thibaudcolas commented on #77
Fixed in #91.

[2021-04-16 12:27] #77 closed

[2021-04-18 17:40] thibaudcolas commented on #74
Looking at https://sphinx-wagtail-theme.readthedocs.io/en/latest/ this seems to be resolved.

[2021-04-18 17:40] #74 closed

[2021-04-18 17:44] thibaudcolas commented on #16
They are both styled identically right now so I will assume this has been done.

[2021-04-18 17:44] #16 closed

[2021-04-19 01:24] tbrlpld commented on #87
On reconsideration,  I could see this being useful when something like the tutorial is split into multiple pages (which I think it should).

The styling should definitely be changed though.

I could see separate buttons (more borders) with space between, instead of them pushed together in the centre. I feel like I have seen that on plenty other docs pages.

[2021-04-19 01:26] tbrlpld commented on #83
This has been addressed in #94

[2021-04-19 01:26] #83 closed

[2021-04-19 01:28] tbrlpld opened #99 "Max width for sidebar (main navigation)"
Currently, the width of the sidebar (main navigation) increases indefinitely.

This should be limited to some sensible value to make the layout work nicer on larger screens.

[2021-04-19 01:34] tbrlpld commented on #99
This must be possible with Bootstrap, because that is how their documentation works:
<img width="2132" alt="image" src="https://user-images.githubusercontent.com/24797493/115169827-d79fb180-a05a-11eb-9332-f992af8dc970.png">

[2021-04-19 19:32] allcaps opened #103 "On mobile viewports, placement of the "hamburger" menu toggle button could be better"

[2021-04-19 19:32] allcaps opened #104 "Sidebar’s Toctree "Expand" buttons are impossible to use with a keyboard"

[2021-04-20 01:25] tbrlpld commented on #103
I think this could use some explanation or a sketch of the desired placement

[2021-04-20 07:13] allcaps commented on #103
This came from a comment on https://github.com/wagtail/wagtail/pull/6930

So maybe @thibaudcolas can tell.

[2021-04-20 08:45] tbrlpld commented on #103
Ah, I see now... With the large title it pushes the hamburger to the another line.

<img width="404" alt="Screenshot 2021-04-19 at 22 43 59" src="https://user-images.githubusercontent.com/24797493/115366226-d5277f80-a160-11eb-955a-6f973f9aabe8.png">

I guess we could just hide the title on small screens.

[2021-04-20 09:56] allcaps opened #106 "Main navigation plus icons are not reachable with keyboard navigation"

[2021-04-20 09:56] #106 closed

[2021-04-20 10:30] #76 closed

[2021-04-27 10:53] Stormheg opened #107 "Increase space after admonition code blocks"
https://docs.wagtail.io/en/latest/topics/pages.html#inline-models

I think there should be more space between the code block and the text below it.

![image](https://user-images.githubusercontent.com/13856515/116230054-7a40ea00-a757-11eb-8efc-1d3ee5061a97.png)

[2021-05-28 15:50] thibaudcolas opened #108 "Documentation translations support"
We’re interested in translating the Wagtail docs ([#4968](https://github.com/wagtail/wagtail/issues/4968)). Trying this out with the theme’s docs, I spotted a few issues:

- There are strings in the theme template marked for translation, for example "Edit on GitHub". I think those strings would need to be translated directly in this project
- Some strings aren’t marked for translation, for example

[2021-06-11 15:27] Scotchester commented on #103
There's also an accessibility issue related to this that I just discovered: That button has no text in it (or `aria-label`), so it won't be read by screen readers. I will look at fixing in conjunction with this issue.

[2021-06-24 18:10] gasman commented on #12
@DanielSwain has also requested this by email, and offered the following fix:

![image001](https://user-images.githubusercontent.com/85097/123311927-9c6ca380-d51f-11eb-901b-94a615cae0d6.png)

![image002](https://user-images.githubusercontent.com/85097/123311981-a9899280-d51f-11eb-9cf8-32d6c1007031.png)

[2021-06-24 18:35] DanielSwain commented on #12
I just submitted a [pull request](https://github.com/wagtail/sphinx_wagtail_theme/pull/110) for this feature request.

[2021-06-25 14:30] #103 closed

[2021-06-25 15:08] thibaudcolas commented on #103
Fixed in #109.

[2021-06-29 22:12] #12 closed

[2021-11-19 22:52] vsalvino commented on #11
Ditto contrast of admonitions as pointed out in #119 . Probably worth doing a contrast-related changeset (which might benefit from a designer's eye if there are to be any color palette changes)

[2021-11-19 22:54] vsalvino commented on #68
This can probably be closed by #113 ?

[2021-11-20 19:01] vsalvino opened #120 "Font licensing issue (!!!)"
I noticed that the font **"Apercu Pro"** is included with this package. The font files do not contain a license file aside them, which is a bit unusual. Upon further research it seems that the fonts are sold by Colophon Foundry (https://www.colophon-foundry.org/typefaces/apercu/) and from what I can tell are NOT freely available.

I do not know if this theme carries a license to distribute these f

[2021-11-20 19:42] Scotchester commented on #120
😬 Good catch.

They don't appear to offer such a license.

I think we should do this last option in the immediate term, as a decision on including an alternate font may take a while.

We should do that ASAP and then follow these instructions to purge the font files from the repo history: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-r

[2021-11-20 22:05] vsalvino commented on #120
I made a PR, and ended up replacing it with Source Sans, which looks similar enough that it shouldn't be too jarring.

[2021-11-22 19:09] vsalvino commented on #87
I would keep them, they are especially useful for tutorial or multi-step docs.

For design, simple left/right aligned blocks with arrows seems to be readable:

(From coderedcms docs)
![image](https://user-images.githubusercontent.com/13453401/142920803-208fbe32-5842-4288-995a-79d53fff4191.png)

(From my sphinx-library theme):
![image](https://user-images.githubusercontent.com/13453401/142920742-e3

[2021-11-22 19:45] #120 closed

[2021-11-22 20:29] #11 closed

[2021-11-25 01:04] tbrlpld commented on #87
This has been on my list for so long. It always annoys me when looking at the new theme since this does not really seem to fit the style either.

@vsalvino this is exactly the style I had in mind too. Happy for you to go along with this 👍

[2022-03-09 11:46] thibaudcolas opened #131 "rst-content styles are not being used"
Our theme contains extensive customisations for content styling in https://github.com/wagtail/sphinx_wagtail_theme/blob/a056b6e941e6a9af4b2f32ab157ff95613a0ca55/sass/_component_rst.scss.

It looks like they aren’t being used on docs.wagtail.org, because nothing is outputting this `rst-content` class. Here is what it looks like when manually adding it:

![rst-content](https://user-images.githubuser

[2022-03-09 13:38] tbrlpld commented on #131
Wow. That looks so much better! We should definitely add that. The auto docs have been a pain for a bit.

[2022-03-10 09:07] lb- opened #133 "Adopt MyST parser in place of recommonmark"
We should adopt MyST Parser in our Wagtail Sphinx theme, as it has now been adopted in Watail core.

https://myst-parser.readthedocs.io/en/latest/

This way we can triage and add core styling for these issues.

https://github.com/executablebooks/MyST-Parser/issues/533
https://github.com/executablebooks/MyST-Parser/issues/534

See Wagtail adoption PR https://github.com/wagtail/wagtail/pull/8084

_O

[2022-03-17 13:15] tbrlpld opened #134 "Evaluate sphinx-theme-builder"
Just dropping this here as a note for something to look at: https://github.com/pradyunsg/sphinx-theme-builder

[2022-03-17 15:34] p0lygun opened #135 "Dark mode for docs"
### Is your proposal related to a problem?

The docs at (docs.wagtail.org) should have a dark theme as its much easier to read the text in dark mode

### Describe the solution you'd like

There should be a switchable (light/dark (more ?)) theme for the docs

### Describe alternatives you've considered

To make the work easier, we can use "Dark reader" dynamic theme generation to make the color pal

[2022-03-18 14:14] Stormheg commented on #135
Hi @p0lygun, this repository is definitely the place for a feature request like this!

Dark mode would be a welcome addition. We could probably use the [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) CSS media query to conditionally apply a dark color scheme. Having an option to manually switch between dark/light mode is quite a common feature

[2022-03-18 14:29] p0lygun commented on #135
Yes, I'll open a PR for this soon 😀

[2022-03-19 18:05] PaarthAgarwal commented on #20
I want to work on this issue. Please provide some more info on it.

[2022-03-19 18:08] PaarthAgarwal commented on #22
Can we do this for hover in docs?

https://user-images.githubusercontent.com/86092410/159133220-58d72061-cefb-4ff2-bdc8-628b375913ce.mp4

[2022-03-24 15:33] PaarthAgarwal commented on #22
@tbrlpld I was checking out https://wagtail.org/about-wagtail/. For navbar hover, they make the underline appear below text, while for other links, they change the underline color to red.

[2022-03-25 21:50] tbrlpld commented on #22
I am not sure the red is actually intentional. It does not appear anywhere else in the brand colours. I think we should actually reduce the number of colours we are using and not expand them further.

[2022-03-28 21:21] tbrlpld commented on #20
You can have a look at the original design in the issue linked in the description.

[2022-03-29 04:51] PaarthAgarwal commented on #22
How about changing the text color to teal (primary color of docs) on hover?

[2022-03-29 12:10] tbrlpld commented on #22
Yea, that sounds good. Maybe with dark teal as the active state too.

[2022-03-29 12:17] PaarthAgarwal commented on #20
I understand now. How to set up the codebase for this repository?

[2022-03-29 16:28] tbrlpld commented on #20
Have you checked the docs? https://sphinx-wagtail-theme.readthedocs.io/en/latest/development.html

[2022-03-29 16:35] PaarthAgarwal commented on #20
Checked now. Thank you for pointing out!

[2022-03-30 06:27] PaarthAgarwal commented on #20
I was trying to make docs but I am getting this error:
![image](https://user-images.githubusercontent.com/86092410/160765354-d03045f6-ab9c-411d-b703-1bc2f6ada331.png)
(Using Node v16, on Ubuntu VM)

[2022-03-30 07:56] lb- commented on #56
Should also try to adopt our shared linting packages if not already in use.

[2022-03-30 08:07] PaarthAgarwal commented on #61
I don't see any warning in docs. Should it be added?

[2022-03-30 08:13] lb- commented on #61
https://sphinx-wagtail-theme.readthedocs.io/en/latest/examples/admonitions.html

Or

https://docs.wagtail.org/en/stable/contributing/documentation_guidelines.html?highlight=warning#note-and-warning-call-outs (click `rendered output` to see)

[2022-03-30 08:16] PaarthAgarwal commented on #107
I'm on it.

[2022-03-30 08:20] PaarthAgarwal commented on #107
I believe this one has been resolved already.
![image](https://user-images.githubusercontent.com/86092410/160785473-2cca8602-ba79-4976-b004-17d0a6dd470a.png)

[2022-03-30 08:22] PaarthAgarwal commented on #131
I'll give it a shot.

[2022-03-30 08:37] Hitansh-Shah commented on #133
I will give this a go.

[2022-03-30 08:55] PaarthAgarwal commented on #131
![image](https://user-images.githubusercontent.com/86092410/160791416-028daa72-20fa-4350-80d4-daf01d77214d.png)

The blue box appearing around italicized text looks good, but the change in the style of sub-headings and links i.e

![image](https://user-images.githubusercontent.com/86092410/160791684-ed4e443e-8df3-4108-8ce6-c035c4a146e8.png)
are they desirable?

[2022-03-30 09:00] PaarthAgarwal commented on #61
Ahh, I see.

[2022-03-30 11:45] Stormheg commented on #107
Looks like the text is now outside the admonition. Perhaps the switch from Recommonmark to MyST (https://github.com/wagtail/wagtail/issues/8074) has something to do with this?

[2022-03-30 15:56] tbrlpld commented on #131
I think definitely desirable! Being able to see those is a big issue for me in the current design.

[2022-03-31 08:12] PaarthAgarwal commented on #22
On second thought, Wagtail UI is replacing teal with indigo. Can we go for indigo?

[2022-04-03 10:03] lb- commented on #133
Turns out this was a bit of a key dependency for other issues, so I have given a go at this
https://github.com/wagtail/sphinx_wagtail_theme/pull/142

[2022-04-03 10:13] Hitansh-Shah commented on #133
Got it! No issue 🙌

[2022-04-03 10:38] #131 closed

[2022-04-03 10:45] #61 closed

[2022-04-04 12:48] PaarthAgarwal commented on #78
Which color would you prefer for the visited links?
Currently, the visited color is the same as the hover color, and I am creating a PR to change the hover color to teal as per my discussion in #22, which will also change the color of the visited links to teal.

[2022-04-04 13:15] PaarthAgarwal commented on #75
Is it still open?

[2022-04-04 15:30] Stormheg opened #144 "Netlify builds failing"
I've noticed that recently Netlify builds are failing ([example](https://app.netlify.com/sites/sphinx-wagtail-theme/deploys/62497b5c8364a80009be2768))

Log excerpt
[code]

Related issue: https://github.com/readthedocs/readthedocs.org/issues/9037

It looks like we have two options to fix this:

1. Move off of Sphinx==1.8.5 (it is quite old!)
2. Pin `jinja2<3.1.0`

[2022-04-04 15:38] #35 closed

[2022-04-04 15:38] #50 closed

[2022-04-04 16:36] #133 closed

[2022-04-04 16:46] Stormheg commented on #144
Fixed by https://github.com/wagtail/sphinx_wagtail_theme/pull/142

[2022-04-04 16:53] Stormheg commented on #20
Hey @PaarthAgarwal 👋

I merged some PRs by @lb- and https://github.com/wagtail/sphinx_wagtail_theme/pull/142 does indeed fix the jinja2 error message for me.

[2022-04-04 17:19] PaarthAgarwal commented on #20
That's great @Stormheg. Building docs right now!

[2022-04-04 17:43] Stormheg commented on #78
@tbrlpld @thibaudcolas do you have any thoughts on what styling would work best for visited links?

Happy to hear thoughts from anyone, no just the two people I pinged 😄

[2022-04-04 18:19] PaarthAgarwal commented on #78
Can we italicize the visited link text?

[2022-04-04 20:32] lb- commented on #75
@PaarthAgarwal  I think this is phrased more like a question, so maybe if you don't mind can you do a screenshot of the header before & after the setting change (just change it locally on your machine).

Also include small and large breakpoint variants.

We may find this is no longer needed or wanted.

[2022-04-04 20:37] PaarthAgarwal commented on #75
Sure. Can you also provide some context about what this is trying to solve or change?

[2022-04-04 20:41] lb- commented on #78
I would recommend against using italicize - this can cause odd issues with the exact widths of the links and also may not translate well in the future (i.e. italics do not mean the same thing to everyone and some languages do not support this in their fonts).

[2022-04-04 20:43] lb- commented on #75
I do not know sorry, @allcaps may add some insights when he is online next

[2022-04-04 20:46] PaarthAgarwal commented on #75
Sure

[2022-04-04 20:48] PaarthAgarwal commented on #21
Does this issue still persists after the implementation on #137?

[2022-04-04 20:54] lb- commented on #135
@p0lygun if at all possible - can the PR also involve pulling up our colours into CSS custom variables.

This further enhances the themeability of this project with some simple css variable changes being able to change the visuals.

I would assume we would have normal and dark variants of each variable.

This enhancement is not a blocker for dark mode but just might be easier to do at the same tim

[2022-04-04 21:38] lb- commented on #21
Closed via e63030b7f56b4a73f8e59e41168c9ddfab3db3f8 https://github.com/wagtail/sphinx_wagtail_theme/pull/137

Thanks @PaarthAgarwal

[2022-04-04 21:43] p0lygun commented on #135
first i would like to apologize for not working on this, i had my exams going on so was not able to put time into this,
second i am going to use CSS variables,
@lb-  i will start working on this tomorrow as i still need to write the application for my gsoc entry on  "Apply new page editor UX to all of Wagtail" :smile:
PS :- [Kivy's dark mode for example](https://github.com/kivy/kivy/blob/master/do

[2022-04-04 21:44] #21 closed

[2022-04-04 21:50] lb- commented on #135
@p0lygun  - no need to apologise at all, do not feel in any way that you are on a contract or anything for this. It is open source and a community where we are all volunteers trying to help where we can.

If you get to do this, awesome, if not - it is OK.

Thank for the update though and good luck on your application.

[2022-04-05 04:10] tbrlpld commented on #78
It might be time to create a color scale for the theme. Then we can easily pick from the range of defined colors.

I’ll see if I can find a little time to put one together, based on the colors we already use.

[2022-04-05 06:14] PaarthAgarwal commented on #20
The build succeeded @Stormheg. I was expecting a server to start, but it says this:
![image](https://user-images.githubusercontent.com/86092410/161689739-0198c7d3-491a-41ed-8042-c86dc860432d.png)
To inspect the changes, should I be opening one of the HTML files manually. Right?

[2022-04-05 06:25] PaarthAgarwal commented on #20
@tbrlpld, can we use this color for deemphasizing page content navigation font as well?
![image](https://user-images.githubusercontent.com/86092410/161691886-46c16ada-d7da-40dd-8e48-4a567582dbe9.png)

[2022-04-05 06:50] allcaps commented on #75
I can't recall this is still broken.

This was closed in the project. I don't get why this issue isn't closed automatically.

[2022-04-05 06:50] #75 closed

[2022-04-05 07:14] Stormheg commented on #78
That would be amazing, thanks @tbrlpld 👍

[2022-04-05 14:21] PaarthAgarwal commented on #9
I'll give it a try.

[2022-04-05 22:01] tbrlpld opened #147 "Hard to read syntax highlighting"
<img width="1548" alt="Screen Shot 2022-04-05 at 2 58 10 PM" src="https://user-images.githubusercontent.com/24797493/161856987-98393ec9-91a8-4d71-aec2-1dddaf1ab5d1.png">

[2022-04-05 22:03] tbrlpld opened #148 "Reduce link underline offset"
This currently just looks odd. The offset if much to large.

<img width="1392" alt="Screen Shot 2022-04-05 at 3 02 35 PM" src="https://user-images.githubusercontent.com/24797493/161857319-b16db45f-6601-4af1-a6d4-3d4c479b130a.png">

[2022-04-06 08:19] lb- commented on #147
Hmm - this may have happened when we added the `.rst` root class
https://github.com/wagtail/sphinx_wagtail_theme/pull/136

Maybe we need to revise or remove this section?

https://github.com/wagtail/sphinx_wagtail_theme/blob/main/sass/_component_rst.scss#L23-L49

[2022-04-06 11:46] PaarthAgarwal commented on #78
I gave it some thought, and I think whichever color we end up using for visited links, we'll be creating a 'chromatic overload' having black for the normal state, teal for hover, dark teal for active, and another color for visited links, i.e., four different colors in content navigation.

[2022-04-06 15:15] Scotchester commented on #78
I think I agree. Most websites don't use visited link styling these days, and particularly in documentation, I'm not sure if that would be useful or just distracting.

[2022-04-06 15:35] tbrlpld commented on #147
Yea, why was that changes anyhow? The previous syntax highlights that are currently active in the Wagtail docs look fine to me.

[2022-04-06 22:10] #80 closed

[2022-04-06 22:26] lb- commented on #147
I have a fix I think, we have to set `pygments_style` to `None` we have now got our own pygments styles and the Sphinx ones are not required.

I think this happened as part of the update to the latest Sphinx version and not the rst root class.

[2022-04-06 22:31] #68 closed

[2022-04-06 23:38] #147 closed

[2022-04-06 23:42] tbrlpld commented on #20
Sounds good @PaarthAgarwal

[2022-04-06 23:43] tbrlpld commented on #22
Let's do the same thing as for normal links

[2022-04-07 01:34] tbrlpld commented on #87
Closed via #129

[2022-04-07 01:34] #87 closed

[2022-04-07 07:45] #22 closed

[2022-04-07 07:45] #78 closed

[2022-04-07 07:45] #148 closed

[2022-04-07 22:12] tbrlpld opened #155 "Link style broken on Safari"
The underlines are not showing up at all.

I know there might be an issue with Safari and the underline offset, but we would want the lines to show up at all at least.

<img width="1762" alt="Screen Shot 2022-04-07 at 3 10 24 PM" src="https://user-images.githubusercontent.com/24797493/162327953-034c47d0-c4ca-4b17-9635-9119b3e91908.png">

[2022-04-07 22:29] allcaps opened #156 "Screenshot with Droste effect"
Just for the fun of it...

It would be nice if we could have [droste-effect](https://en.wikipedia.org/wiki/Droste_effect) on the documentation screenshot.

See [the screenshot](https://sphinx-wagtail-theme.readthedocs.io/en/latest/).

If visual changes happen, we have to recreate the screenshot. I'd suggest a Pillow script and a clear instruction to make creating the screenshot repeatable.

Mockup

[2022-04-08 03:12] PaarthAgarwal commented on #155
This must be because of we switched to underline style instead of border. Safari and internet explorer cause issue with new short hand text decoration. One potential fix can be to write styles separately like this

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: green;
Reference: https://www.cssmine.com/blog/2020-03-30-css-text-decoration-family-no

[2022-04-08 03:14] vsalvino commented on #135
If it's any use, I implemented a user-selectable light/dark mode switcher on my "hobby" sphinx theme: https://github.com/vsalvino/sphinx-library

A welcome addition would be to initialize it based on the prefers-color-scheme.

[2022-04-08 19:32] anujaraj commented on #156
Can I work on this?
Though I did not understand it exactly. Should be make just a UI design of screenshot change?

[2022-04-08 19:43] PaarthAgarwal commented on #20
I was trying to add the above mentioned color in `_component_toc.scss` but ` _component_links.scss ` keeps overriding it. Any fix for it?

[2022-04-08 23:54] tbrlpld commented on #20
Hm. That seem unlikely.  `_component_links.scss` only targets the `a` element. Any selector that is more specific (e.g. a `class` should be overriding it. Are you sure that is where it is coming from?

[2022-04-09 05:59] PaarthAgarwal commented on #20
I think so too. Have a look
![image](https://user-images.githubusercontent.com/86092410/162558766-0e4d8ca2-5169-44fc-8f87-329d60ef5728.png)

[2022-04-09 18:05] tbrlpld commented on #20
Wait, we know it overriding the default link style because it does not have an underline. What ever is removing the underline should also be able to override the color.

[2022-04-09 18:47] PaarthAgarwal commented on #20
Pro move!

[2022-04-11 20:13] allcaps commented on #156
Yes, you can!

Realise that this is a nice to have with super low priority. It is a fun coding exercise. Nothing more.

[2022-04-13 19:31] #20 closed

[2022-04-13 19:31] #155 closed

[2022-04-18 15:15] tbrlpld opened #161 "Figure caption is hard to distinguish from body text"
The caption text is styled the same as the body text. This makes for a confusing reading experience.

We should come up with a style that distinguishes the caption text visually from the body text. Also, it would be more readable to have a bit of whitespace between the figure and the image.

Also, it looks odd to me that the figure text is wider than the image/figure.

<img width="1762" alt="image

[2022-05-03 09:13] PaarthAgarwal commented on #161
I'll give it a try

[2022-05-03 09:16] PaarthAgarwal commented on #86
Since we have opted for gray to de-emphasize the table of page content, is this issue still relevant?

[2022-05-03 12:26] tbrlpld commented on #86
Thanks for pointing this out. You are right, this one has been addressed.

[2022-05-03 12:26] #86 closed

[2022-05-03 13:11] PaarthAgarwal commented on #86
Glad to hear. Can you help me with this issue I'm facing https://github.com/wagtail/sphinx_wagtail_theme/commit/f7b5dd645114a3facb02647052d91d530a11735b#commitcomment-72749727?

[2022-05-03 18:07] tbrlpld commented on #86
I have the same issue. Can you open a GitHub issue for that?

[2022-05-03 18:08] PaarthAgarwal commented on #86
Sure

[2022-05-03 18:45] PaarthAgarwal opened #164 "Package lock json version changes"
While doing `make setup,` the package-lock.json changes to "lockfileVersion": 2  while using node 16. But if I use node 14, the "lockfileVersion": 1 remains the same. I've been observing this behavior since https://github.com/wagtail/sphinx_wagtail_theme/commit/f7b5dd645114a3facb02647052d91d530a11735b.

Warning in terminal:
![image](https://user-images.githubusercontent.com/86092410/166520790-0fbe

[2022-05-03 19:27] lb- commented on #164
Feel free to do a PR for this

[2022-05-04 11:21] PaarthAgarwal commented on #161
@tbrlpld I looked into it. Turns out there were some minor errors in [_component_figure.scss](https://github.com/wagtail/sphinx_wagtail_theme/blob/main/sass/_component_figure.scss). After the fix it looks like this:
![image](https://user-images.githubusercontent.com/86092410/166671536-ae76d063-11e3-488e-9dbb-f79ecb396f16.png)
The italic style was default but let me know if you want to drop it.

[2022-05-04 21:52] #164 closed

[2022-05-05 09:29] PaarthAgarwal commented on #161
Based on the discussion here https://github.com/wagtail/sphinx_wagtail_theme/issues/78#issuecomment-1087993428, I'm dropping italicized text.

[2022-05-05 12:11] #161 closed

[2022-05-09 13:42] PaarthAgarwal commented on #9
I have made Page TOC sticky but having some trouble while trying to make it scrollable. Besides the global TOC can also use being scrollable especially when the examples section is expanded. Opening a PR making the Page TOC sticky, will address scrollability either through further commits or maybe a new PR targeting both TOCs.

[2022-05-09 13:56] PaarthAgarwal commented on #19
Code blocks use blue background now. Can you share more info on this issue?

[2022-05-09 14:26] PaarthAgarwal commented on #99
So currently, the sidebar is set to occupy 3/13 screen width on screen sizes large and above because of `col-lg-3` class in our documentation.
Bootstrap uses `col-md-3` and  `col-xl-2` classes i.e 3/12 screen width for medium above and 2/12 screen width for xl above.
Should we do the same, or should we set `max-width` with some arbitrary value?
PS: Tried the way bootstrap did it. Won't call it an

[2022-05-10 10:04] PaarthAgarwal commented on #19
Yep

[2022-05-10 10:44] PaarthAgarwal commented on #17
Does this issue still persist?

[2022-05-10 12:16] tbrlpld commented on #17
Not sure. I am not sure if we still have background on inline code. You could create an example to check that.

[2022-05-10 12:46] PaarthAgarwal commented on #17
I checked and I didn't find any background only red-colored text.
We can close this issue

[2022-05-10 19:07] PaarthAgarwal commented on #17
1 down 23 remaining ✌️

[2022-05-10 19:12] PaarthAgarwal commented on #56
Which ones should be present in devDependencies?

[2022-05-10 21:39] lb- commented on #56
Anything that is client facing should be in `dependencies`. Anything that relates to the building of the project (Webpack) or working with code that gets transformed before the final build (babel, sass) should be Dev.

But check each one gets used also.

"@fortawesome/fontawesome-free": "^5.13.0", non-dev
"autocompleter": "^6.0.3", non-dev (I think)
"babel-loader": "^8.2.2", DEV
"bootstrap": "^4.4

[2022-05-10 21:56] lb- commented on #56
We should also update the package JSON version to match the release version (need to ensure the release instructions includ that).

And add to the list for this issue (or a seperate one) - basic JS unit tests.

[2022-05-11 11:11] PaarthAgarwal commented on #56
Currently it says `"version": "1.0.0"`. Should it be updated to 2 .0.0 or 3.0.0?

[2022-05-11 11:17] PaarthAgarwal commented on #56
I think we should keep popper.js. Maybe we are not using it right now but it is possible that one day we'll use something from bootstrap that requires popper. We can remove underscore though as Thibaud suggested.

[2022-05-11 11:49] lb- commented on #56
I would opt for removing popper personally, we can always add it if we need it.

[2022-05-11 11:50] lb- commented on #56
Actually - ignore that package version thing, that is probably just unhelpful and creates confusion.

[2022-05-11 11:51] PaarthAgarwal commented on #56
Sure

[2022-05-12 11:21] lb- opened #169 "Set up Prettier"
Similar to Wagtail core, Prettier should be used for formatting all files it supports (potentially even markdown).

See https://github.com/wagtail/wagtail/wiki/Updating-PRs-for-linting-changes for instructions on how to format a codebase without it creating noise when using git blame.

Ensure it does not conflict with the editorconfig settings, or maybe those settings need updating. https://github

[2022-05-12 11:23] lb- opened #170 "Eslint & Stylelint basic setup"
* [X] Stylelint is set up and seems to be working, but isn’t running anywhere
* [X] Stylelint config should use https://github.com/wagtail/stylelint-config-wagtail/
* Eslint is not used and should be added
* Eslint config should use https://github.com/wagtail/eslint-config-wagtail
* [ ] #183

[2022-05-12 11:25] lb- opened #171 "Combining the Webpack entry points into a smaller number of files, rather than separate."

[2022-05-12 11:27] lb- commented on #56
Last three items have been split to their own issues.

* https://github.com/wagtail/sphinx_wagtail_theme/issues/169
* https://github.com/wagtail/sphinx_wagtail_theme/issues/170
* https://github.com/wagtail/sphinx_wagtail_theme/issues/171

Rest has been done, thanks everyone!

[2022-05-12 11:27] #56 closed

[2022-05-12 16:00] tbrlpld opened #172 "Apply Wagtail design system to the docs"
Figma community version of the Wagtail design system: https://www.figma.com/community/file/1098619062654073532

Now that there is a full design system, I think it would be great to apply the styles defined in there to the docs.

I just dropping this here as a reminder. We probably want to update existing tickets to incorporate that information and add new ones where appropriate.

[2022-05-16 16:13] tbrlpld opened #174 "Plain images and figure images should use the same styling"
There is currently a difference in style between images directly in the content and images in a figure.

![image](https://user-images.githubusercontent.com/24797493/168637325-cbd7c140-07c5-432e-af13-e77fe97116a1.png)

[2022-05-19 03:58] PaarthAgarwal commented on #9
This issue can be closed now

[2022-05-19 11:23] #9 closed

[2022-05-24 15:58] tbrlpld opened #176 "Scroll issues on long table of content"
When the table of content is longer than the view port, you can not scroll the table of content independently of the page.

https://user-images.githubusercontent.com/24797493/170080033-7d0134c8-3eea-4a30-8328-d6703fa25cc2.mov

I believe this is cause by the overall structure of our base layout. I am not sure what the best solution is here, but I think we need to adjust the design a bit. I think th

[2022-05-24 18:51] tbrlpld commented on #176
Definitely one to try out 👍

[2022-05-26 22:08] lb- opened #177 "Add lazy loading and async decoding to images"
## Overview

* To speed up the loading experience in Wagtail docs, it would be good to adopt two `img` tag features `loading='lazy'` and `decoding='async'`.

## Details

* Similar to https://github.com/wagtail/wagtail/pull/8598
* Not sure how to do this with MySt parser or Sphinx or where in the system this needs to be added, but it should be opt out (by default all images add these attributes).
*

[2022-05-27 09:04] gasman commented on #176
I'm finding this detail pretty annoying, especially when I'm on the homepage and want to head to somewhere specific under (e.g.) Reference -> Contrib modules and have to scroll to the bottom of the enormous index to get at it.

If there isn't a quick fix for this, I'd be in favour of reverting to the old non-sticky menu.

[2022-05-28 06:54] lb- commented on #170
Stylelint is set up and now being used https://github.com/wagtail/sphinx_wagtail_theme/pull/173

Some rules have been disabled as it was going to be a huge change and could not get local built css file to work locally so did not want to change anything functional.

Thanks @PaarthAgarwal  for getting this rolling.

[2022-06-24 16:58] nutjob4life opened #181 "Hyperlink in docs invisible on Safari"
### Pertinent section of the Wagtail docs

In the [Wagtail 3.0 release notes](https://docs.wagtail.org/en/stable/releases/3.0.html), the word "MyST" is hyperlinked. On Chrome and Firefox, it appears with a cyan-colored underline.

However, under desktop Safari 15.5 (on macOS 12.4) and mobile Safari 15.5 (on iOS 15.5), the underline is not visible. It's random chance that I happened to mouse over i

[2022-06-24 21:26] zerolab commented on #181
Hey @nutjob4life,

Thank you for reporting this. I moved the issue to https://github.com/wagtail/sphinx_wagtail_theme as we use it for the docs theme and I can confirm the issue is present for https://sphinx-wagtail-theme.readthedocs.io/en/latest/ too

[2022-06-25 05:33] PaarthAgarwal commented on #181
We fixed this issue over there. Is wagtail using the latest version of sphynx_wagtail_theme?

[2022-06-25 09:02] lb- commented on #181
Yeah. This does look like a duplicate of https://github.com/wagtail/sphinx_wagtail_theme/issues/155

@nutjob4life can you please check the latest docs on safari to confirm.

https://docs.wagtail.org/en/latest/releases/3.0.html

[2022-06-25 09:36] PaarthAgarwal commented on #181
I can't test the safari issue but the Wagtail docs aren't using sticky and scrollable tocs which I've added. So I think the safari issue should be existing as well.

[2022-06-25 10:19] lb- commented on #181
Ahh yeah I see - that change has not been released yet.
Not sure on the process for a release but I'll mention in the core team chat.

I'll close this issue though as a duplicate - once the Sphinx theme update is released and adopted by Wagtail the issue will be resolved.

[2022-06-25 10:19] #181 closed

[2022-06-25 11:25] zerolab commented on #181
Thank you @PaarthAgarwal and @lb- for being on top of this

[2022-06-26 19:29] nutjob4life commented on #181
Still not seeing underlines on desktop Safari even after a force reload and cache-busting—except on hover, @lb-

![Screen Shot 2022-06-26 at 2 28 02 PM](https://user-images.githubusercontent.com/814813/175830723-9329c827-8464-45ba-a063-840412ce0f59.png)

But, taking the conversation over to the [duplicate issue now](https://github.com/wagtail/sphinx_wagtail_theme/issues/155)!

[2022-06-27 05:22] lb- commented on #181
@nutjob4life sorry for the confusion - this fix has not been released yet  (only on the main branch) so we will need to wait until the team do a new release of this package to see the fix go live.

I have asked the core team what is the process for doing a release (as in deciding the timing) and hopefully will get an answer soon.

[2022-08-15 05:09] lb- opened #183 "Stylelint - remove rule overrides"

[2022-08-15 05:10] lb- commented on #170
split to https://github.com/wagtail/sphinx_wagtail_theme/issues/183 - closing this issue for now.

[2022-08-15 05:10] #170 closed

[2022-08-15 05:12] lb- opened #184 "Eslint - adopt Wagtail's eslint configuration & add eslint checks"
* https://github.com/wagtail/eslint-config-wagtail
* [ ] Add to CI
* [ ] Add to scripts
* [ ] Fix issues

[2022-08-15 05:14] lb- commented on #184
PR already up for this - but splitting from previous issue #170 https://github.com/wagtail/sphinx_wagtail_theme/pull/180

[2022-08-15 05:19] lb- opened #185 "Confirm & document support for Python 3.10"
Currently the CI runs on Python 3.7 but the setup.cfg states this supports up to Python 3.8

It would be good to update the CI to run on 3.10 (or 3.9 if it is too soon) and update the various metadata / readme items with this new supported version.

* https://github.com/wagtail/sphinx_wagtail_theme/blob/main/setup.cfg
* https://github.com/wagtail/sphinx_wagtail_theme/blob/main/.github/workflows/CI

[2022-08-15 11:23] #184 closed

[2022-08-15 12:54] lb- opened #186 "Release 5.2.0"
Checklist for release

- [ ]    CONTRIBUTORS.md is updated
- [ ] CHANGELOG.md is updated
- [ ] Everything is committed, clean checkout
- [ ] ~/.pypirc has a username and password (token)
- [ ] Add a git tag and a Github release once completed
- [ ] PR for Wagtail to adopt the latest docs theme version

[2022-08-16 09:09] lb- opened #187 "Adopt Node 18 & fnm"
* Node 18 can be migrated to now as it is more stable and about to be the LTS
* Move to `fnm` instead of `nvm` as the recommended node version manager (works on Windows & is faster)
* See equivalent Wagtail issue https://github.com/wagtail/wagtail/issues/8499

[2022-08-17 06:37] lb- commented on #186
released https://pypi.org/project/sphinx-wagtail-theme/5.2.0/

[2022-08-17 06:37] #186 closed

[2022-08-17 06:49] lb- commented on #186
PR up for Wagtail to adopt this latest release https://github.com/wagtail/wagtail/pull/9013

[2022-08-17 07:54] lb- opened #190 "sidebar menu - creating horizontal scroll bar"
The first thing that jumps out is that the sidebar menu has a horizontal scroller.

Preview: https://wagtail--9013.org.readthedocs.build/en/9013/

_Originally posted by @zerolab in https://github.com/wagtail/wagtail/issues/9013#issuecomment-1217592734_

[2022-08-18 20:41] #99 closed

[2022-08-18 20:41] #107 closed

[2022-08-18 20:41] #23 closed

[2022-08-18 20:41] #59 closed

[2022-08-18 20:41] #190 closed

[2022-08-18 22:33] #135 closed

[2022-08-18 23:35] lb- commented on #172
Some progress has been made for this via
https://github.com/wagtail/sphinx_wagtail_theme/pull/194

[2022-08-18 23:37] lb- commented on #85
This is a duplicate of #59 and has been resolved via https://github.com/wagtail/sphinx_wagtail_theme/pull/191

If there are further refinements needed we can raise a new issue with specific feedback.

[2022-08-18 23:37] #85 closed

[2022-08-18 23:40] lb- commented on #67
Has been resolved via  https://github.com/wagtail/sphinx_wagtail_theme/pull/191

[2022-08-18 23:40] #67 closed

[2022-08-18 23:42] lb- commented on #60
Going to close this as resolved via the adoption of Wagtail's fonts and colours.

https://github.com/wagtail/sphinx_wagtail_theme/pull/194

I think that a y further 'design system' work will be done via the adoption of the Wagtail design system as taking priority over some of the original global sizes for fonts.

https://github.com/wagtail/sphinx_wagtail_theme/issues/172

[2022-08-18 23:42] #60 closed

[2022-08-18 23:44] lb- commented on #13
Adoption of the system fonts that Wagtail uses has now been completed and this issue can be considered as resolved.

Resolved via https://github.com/wagtail/sphinx_wagtail_theme/pull/194

[2022-08-18 23:44] #13 closed

[2022-08-18 23:53] lb- commented on #51
@allcaps if it's ok I'll close this - but if you think this is still worth getting into the docs we can re-open but maybe it needs a bit more context.

Also if we re-open can you add any indication of how this would work. Maybe it's only a small addition.

[2022-08-18 23:53] #51 closed

[2022-08-18 23:58] lb- commented on #104
Confirming this is still and issue.

[2022-08-19 07:47] lb- opened #198 "Release 5.3.0"
### Release process

-   [x] `CONTRIBUTORS.md` is updated
-   [x] `CHANGELOG.md` is updated
-   [x] `setup.cfg` is updated (see `version`)
-   [x] Everything is committed, clean checkout
-   [x] `~/.pypirc` has a username and password (token)
-   [x] Add a git tag and a Github release once completed

[2022-08-19 12:08] lb- commented on #45
https://sphinx-copybutton.readthedocs.io/en/latest/

[2022-08-19 20:34] #104 closed

[2022-08-20 04:28] lb- commented on #198
* https://pypi.org/project/sphinx-wagtail-theme/5.3.0/
* https://github.com/wagtail/sphinx_wagtail_theme/blob/main/CHANGELOG.md#530---2022-08-20
* https://github.com/wagtail/sphinx_wagtail_theme/releases/tag/5.3.0

[2022-08-20 04:28] #198 closed

[2022-08-20 12:51] lb- opened #201 "Issues with static/scrolling sidebar and algolia search results"
- issue where overflow-y hidden was added but not required if hidden submit button wraps (not algolia specific necessarily)
- added search content (input and results) causes width of sidebar to make content wrap - maybe add nowrap to main container
- search results not able to be shown inside scrollable container - not sure on any practical fix to this

https://github.com/wagtail/wagtail/blob/main

[2022-08-20 13:21] lb- opened #202 "add a skip link to the page"

[2022-08-20 21:07] lb- opened #203 "Dark mode should toggle body class - not override it"
In Wagtail docs - the alogolia search will toggle a class for the body scroll behaviour
https://github.com/wagtail/wagtail/blob/main/docs/_templates/layout.html#L77

However, the new dark mode JS will override the class
https://github.com/wagtail/sphinx_wagtail_theme/blob/main/js/theme.js

This means that switching the dark mode toggle will remove any class added by the other search JS in the docs

[2022-08-20 21:09] lb- commented on #203
https://github.com/wagtail/sphinx_wagtail_theme/blob/43bc11ec6961ee38adc7393b27c97144758eb6ea/js/theme.js#L51

Should be something like
[code]

https://developer.mozilla.org/en-US/docs/Web/API/DOMTokenList/toggle

[2022-08-24 14:17] PaarthAgarwal opened #204 "Scrollbars appearance in Darkmode"
There comes a point when there are 3 vertical scrollbars and 1 horizontal scrollbar on one page, which looks a bit odd, particularly in dark mode.

In dark mode:
![image](https://user-images.githubusercontent.com/86092410/186440435-c3b39cf3-3a2b-4df1-a35f-c005fc622fd6.png)

In light mode:
![image](https://user-images.githubusercontent.com/86092410/186440693-f64ec2c4-f0f5-4e15-89fe-7a40ec08e8d0.png

[2022-08-25 08:29] tbrlpld commented on #204
Can you override the system scroll bar styles?

Why is there even scroll bars around the page TOC? I feel having the page TOC static would be ok and not as annoying as the previously static main TOC. And the horizontal scrolling should definitely be avoided.

[2022-08-25 14:16] PaarthAgarwal commented on #204
Yes, I think we can.
https://css-tricks.com/almanac/properties/s/scrollbar-color/

I added it because there was an issue for it
https://github.com/wagtail/sphinx_wagtail_theme/issues/9

[2022-08-25 15:11] tbrlpld commented on #204
Ah, fair enough. I forget which page was the use case.

But i guess preventing horizontal would still be good

[2022-08-25 19:15] PaarthAgarwal opened #205 "Pagination not visible in dark mode"
Pagination is not visible properly in dark mode.

In dark mode:

![image](https://user-images.githubusercontent.com/86092410/186749038-6cd3462f-e86b-419e-a2c6-210b3af73ba4.png)

In light mode:

![image](https://user-images.githubusercontent.com/86092410/186749189-00f4169e-26d5-4a59-818f-23d11f5ae18f.png)

We might need to update the colours for dark mode, or we can go for something visible on both

[2022-08-25 20:02] lb- commented on #205
The pagination is added in Wagtail's code I think?

Maybe we need to move this issue to the Wagtail repo - might be able to fix for 4.0 still.

[2022-08-31 06:06] lb- commented on #204
I agree preventing horizontal scrolling would be good and an action from this issue.

I am not convinced styling the scrollbar is a good option, I think that it can come across as tacky and it works against the OS's decision on styling here.

However, we could look at just using the slimmer scrollbar-width option.

* https://css-tricks.com/almanac/properties/s/scrollbar-width/
* https://developer.

[2022-09-09 15:45] nutjob4life commented on #155
Is this live? The dark mode seems to indicate it might be; see the following screen shot:

![Screen Shot 2022-09-09 at 10 36 58 AM](https://user-images.githubusercontent.com/814813/189389645-7825558a-d564-4a15-bfab-6e0b782f8304.png)

On [this page](https://docs.wagtail.org/en/stable/releases/4.0.html) the three links in the magenta oval should all appear as hyperlinks; c.f. also @tbrlpld's mention

[2022-09-09 17:49] tbrlpld commented on #155
Yes it should be live, but when I fixed the link style there was no dark mode yet. So this would be better addressed to whoever did the dark mode.

[2022-09-09 18:03] nutjob4life opened #206 "Safari: Links invisible on dark mode docs, barely visible in light mode"
In #155, hyperlinks were undifferentiated from other text when viewing on Safari. @tbrlpld addressed this, but then dark mode got implemented, and now links are once again largely invisible on Safari.

Take a look at a screenshot of [this page](https://docs.wagtail.org/en/stable/releases/4.0.html) in dark mode from Safari 15.6.1 on macOS 12.5.1:

![Screen Shot 2022-09-09 at 10 36 58 AM](https://us

[2022-09-09 18:03] nutjob4life commented on #155
Thanks @tbrlpld. I've submitted a [fresh ticket](https://github.com/wagtail/sphinx_wagtail_theme/issues/206). Maybe @lb- or @vsalvino can take a peek! 🫣

[2022-09-11 04:25] lb- commented on #155
yet another fix up for this - hopefully third time is a charm :D

https://github.com/wagtail/sphinx_wagtail_theme/pull/207

[2022-09-11 04:26] lb- commented on #206
Fix up for this https://github.com/wagtail/sphinx_wagtail_theme/pull/207

[2022-09-11 04:28] lb- commented on #203
PR up for this https://github.com/wagtail/sphinx_wagtail_theme/pull/208

[2022-09-19 09:57] lb- opened #211 "Add search type 'input' to main search field"
* see https://github.com/wagtail/wagtail/pull/9226 (Wagtail docs)
* we should also add role="search" to the parent search form
* Be sure to check the styling is ok on safari and other browsers
* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search
* https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/search_role

[2022-09-21 10:12] PaarthAgarwal opened #212 "Stable version of our sphinx documentation appears to be broken"
Stable version of the wagtail sphinx documentation appears to be broken. The styles aren't showing up. Maybe JS broke too.

![image](https://user-images.githubusercontent.com/86092410/191478373-63051a6e-56da-4519-af54-cf0b9488fa0d.png)

[2022-09-21 14:21] tbrlpld commented on #156
We have removed the screenshot from the docs (which I also prefer as this was always confusing to me). I think this can be closed now.

[2022-09-21 14:33] tbrlpld opened #213 "Dark mode flashes to light mode on page load"
When navigating around the docs site in dark mode, the pages load in light mode first and then flash to dark. I find this pretty irritating. This may also be an accessibility issue for users sensitive to flashes and motion etc.

https://user-images.githubusercontent.com/24797493/191531643-33eebfe0-60ab-4049-a3c0-801b65bdf26f.mov

Using `prefers-color-scheme` may help us avoid this: https://develop

[2022-09-21 14:40] tbrlpld commented on #213
Looks like [MDN](https://developer.mozilla.org) uses `prefers-color-scheme` as well as an entry in local storage. They somehow manage to not flash between page loads.

[2022-09-21 14:43] tbrlpld commented on #213
Looks like they use an inline script at the top of the body to control what renders. I guess the script is blocking the rendering until it finishes and that is how they prevent the flash:
[code]

[2022-09-21 20:26] #156 closed

[2022-09-22 05:19] lb- commented on #213
Yeah, what is weird is that it was working really well locally for me - no matter what got loaded in what order but then when deployed to the docs it was not working.

I have been meaning to raise this bug - thanks @tbrlpld

My initial guess is that the script is loaded differently in the Wagtail template code (maybe at the end of the body) but in the local dev it is at the start of the DOM.

But

[2022-09-22 05:32] lb- commented on #213
I think we will likely need to split the JS into two scripts, one that is blocking (in the head, `core.js` or `head.js`?) and one that is the existing `theme.js`.

https://dev.to/ayc0/light-dark-mode-avoid-flickering-on-reload-1567

We should also wrap the localStorage reading in a try/catch.

[2022-09-22 12:35] tbrlpld commented on #213
Maybe even named bluntly `blocking.js` with a warning inside that this should only be used for very critical JS that definitely needs to run before the page rendering (as in this case).

[2022-09-24 17:58] kkartik07 commented on #72
@tbrlpld This link takes me to missing page, so I can't exactly find what the issue is. Please provide me with some more information and relevant link.

[2022-09-24 18:54] tbrlpld commented on #72
It appears this has been fixed.

[2022-09-24 18:54] #72 closed

[2022-10-03 07:36] lb- commented on #213
Yeah I like this idea.

[2022-10-06 00:53] lb- commented on #213
Some good reference implementations of dark mode.

- https://github.com/GoogleChromeLabs/dark-mode-toggle/blob/main/src/dark-mode-toggle.mjs
- https://github.com/anatoliygatt/dark-mode-toggle/tree/master/src

[2022-10-11 20:20] #206 closed

[2022-10-11 20:20] #203 closed

[2022-10-11 20:23] lb- commented on #211
PR up https://github.com/wagtail/sphinx_wagtail_theme/pull/216

[2022-10-11 21:27] lb- commented on #213
PR up https://github.com/wagtail/sphinx_wagtail_theme/pull/217

[2022-10-11 21:59] #204 closed

[2022-10-12 12:32] thibaudcolas commented on #45
Note from the Wagtail issue – @mohammadareeb95 is working on this :) @mohammadareeb95 make sure to check out the link shared by LB above, with the package we could install that does exactly this.

[2022-10-13 07:52] mohammadareeb95 commented on #45
![image](https://user-images.githubusercontent.com/77102111/195535709-8321f7ba-9c3f-4ccd-8076-b30fc8d59527.png)

[2022-10-13 08:06] lb- commented on #45
Nice!

[2022-10-13 08:06] #213 closed

[2022-10-13 08:08] thibaudcolas commented on #212
Nice catch @PaarthAgarwal! I have disabled this version in the Read the Docs admin because I don’t think it’s worthwhile for us to support it. For the theme to display correctly, we need its front-end build to run, which isn’t possible directly in the Read the Docs builds. So we technically deploy from a `gh-pages` branch, with the compiled styles & JS committed.

This is how `latest` works – and

[2022-10-13 08:08] #212 closed

[2022-10-13 08:12] thibaudcolas commented on #45
🙌  great stuff

[2022-10-13 10:01] mohammadareeb95 commented on #45
_Install dependency_

You can install sphinx-copybutton with pip:
`pip install sphinx-copybutton`

Or with conda via conda-forge:
`conda install -c conda-forge sphinx-copybutton`

PR - https://github.com/wagtail/sphinx_wagtail_theme/pull/219

[2022-10-13 10:52] lb- commented on #45
fixed via https://github.com/wagtail/sphinx_wagtail_theme/pull/219 2d5b980d1fb66f8007696a95c9be791dbfd23f04

[2022-10-13 10:52] #45 closed

[2022-10-13 11:29] lb- opened #220 "Release 5.3.1"
### Release process

-   [x] `CONTRIBUTORS.md` is updated
-   [x] `CHANGELOG.md` is updated
-   [x] `setup.cfg` is updated (see `version`)
-   [x] Everything is committed, clean checkout
-   [x] `~/.pypirc` has a username and password (token)
-   [x] Add a git tag and a GitHub release once completed

[2022-10-13 11:47] lb- commented on #220
https://pypi.org/project/sphinx-wagtail-theme/5.3.1/
https://github.com/wagtail/sphinx_wagtail_theme/releases/tag/v5.3.1

[2022-10-13 11:47] #220 closed

[2022-10-14 15:55] mohammadareeb95 commented on #177
I'm starting to work on this issue

[2022-10-14 22:06] lb- opened #222 "Link underlines are showing incorrectly as dark blue - not link-underline-color"
Link underlines are showing as dark blue in both Chrome and Firefox:
![Screenshot 2022-10-14 at 16 02 18](https://user-images.githubusercontent.com/85097/195879329-9d2b2df6-03be-4f99-b29c-0e6530f7aed1.png)

This isn't intentional, given that the "After" screenshots on https://github.com/wagtail/sphinx_wagtail_theme/pull/207 still show light blue.

_Originally posted by @gasman in https://github.co

[2022-10-14 22:11] lb- commented on #222
Not sure what happened here. But somehow the link underline colour is not working correctly.

Can confirm this issue on the theme build.

![Screenshot_20221015-080639](https://user-images.githubusercontent.com/1396140/195951030-ab509d90-c982-4941-92e0-5c94e6d8c88b.png)
![Screenshot_20221015-080623](https://user-images.githubusercontent.com/1396140/195951037-9889fd86-1181-4745-a69b-1fb82411f34d.png

[2022-10-14 22:14] lb- commented on #222
It's probably the default CSS for links from either bootstrap or Sphinx being used. Hence why it did not show locally.

[2022-10-14 22:30] tbrlpld opened #223 "On large screens full width is not used, but page TOC need horizontal scrolling"
<img width="2120" alt="Screen Shot 2022-10-14 at 15 26 09" src="https://user-images.githubusercontent.com/24797493/195952928-34802686-04f2-4c76-a048-1b4ce2c90cd3.png">

The main content container and the page TOC seem to have some limited width set somewhere. This is particularly jarring since it creates horizontal scrolling on the page TOC 😬

Maybe we can update this to make better use of the ava

[2022-10-14 22:35] lb- commented on #177
Awesome

[2022-10-14 23:51] lb- opened #225 "Projects using `sphinx_wagtail_theme` are not picking up the dependency for `sphinx_copybutton`"
I would have expected that installing `sphinx_wagtail_theme` would also ensure that `sphinx_copybutton` is made available, but this seems to wrong.

When using this theme in Wagtail, we have to explicitly add `sphinx_copybutton`, it would be good if we did not have to do that. Unless it is kind of expected that this would be required manually.

## Expected solution

1. Add docs to this project to

[2022-10-14 23:52] lb- commented on #225
Note: I am new to package management in Python land so this could possibly be a complete confusion on my part about Python vs NPM package nested dependencies.

[2022-10-14 23:57] #211 closed

[2022-10-15 06:12] #222 closed

[2022-10-15 06:20] lb- opened #226 "Readthedocs is not picking up releases"
It would be also good to work out why releases are not showing as expected in the release picker in the built docs.

https://readthedocs.org/projects/sphinx-wagtail-theme/

It is only showing versions;

* latest
* v5.0.0.a0
* v4.1.0
* v3.2.0

### Screenshot

![Screenshot_20221015-161551](https://user-images.githubusercontent.com/1396140/195972411-7c29c6f3-8591-483c-912d-c3dfbb093d9c.png)

[2022-10-15 06:20] #202 closed

[2022-10-15 21:50] lb- commented on #226
Updated this issue to be only focused on the docs version issues, could not see a quick fix by searching through code.

My guess is that something needs to be added to our release process https://github.com/wagtail/sphinx_wagtail_theme#release-process

[2022-10-15 21:51] lb- opened #227 "Release 5.3.2"
### Release process

-   [x] `CONTRIBUTORS.md` is updated
-   [x] `CHANGELOG.md` is updated
-   [x] `setup.cfg` is updated (see `version`)
-   [x] Everything is committed, clean checkout
-   [x] `~/.pypirc` has a username and password (token)
-   [x] Add a git tag and a GitHub release once completed

[2022-10-15 22:02] lb- commented on #227
* https://pypi.org/project/sphinx-wagtail-theme/5.3.2/
* https://github.com/wagtail/sphinx_wagtail_theme/blob/main/CHANGELOG.md#532---2022-10-16
* https://github.com/wagtail/sphinx_wagtail_theme/releases/tag/v5.3.2

[2022-10-15 22:02] #227 closed

[2022-10-16 02:32] Temidayo32 opened #228 "Autodoc indentation/formatting issue"
In a draft pull request I made, generating a reference documentation for StreamField automatically using `sphinx.ext.autodoc`, the documentation was not **properly indented**.

Actual behaviour

The methods and classes the methods belong to were on the same indentation level.

![image](https://user-images.githubusercontent.com/87539866/196014936-08b8aca4-c4be-4b44-be63-0161ad1d405a.png)

Expected

[2022-10-16 02:47] Temidayo32 commented on #228
@thibaudcolas @Scotchester @lb- I would like to work on the issue if provided with directions on where to look to solve the issue. I would think the issue might be from the layout though

[2022-10-16 04:58] lb- commented on #228
@Temidayo32 happy for you to suggest a few ideas - or maybe see what other python project documentation does for this kind of output.

[2022-10-16 21:16] lb- commented on #177
Some nuance here - only images that are non-critical to the Docs interface should be lazily loaded.

Example - tutorial screenshots about clicking a button in the admin interface - this can be lazy.
Example - core logo for the header - this should not be lazy & show straight away.

I am not sure how we will do this yet, my guess is it will be something at the myst-parser or sphinx config level.

M

[2022-10-18 10:15] mohammadareeb95 commented on #177
@lb-  Thanks for the context, I'm trying to figure this out.

[2022-10-18 10:38] lb- commented on #177
Some research, a lot of this is new to me also

* MyST Parser converts markdown to ReST https://myst-parser.readthedocs.io/en/latest/index.html
* Sphinx docs uses the docutils directives under the hood - https://stackoverflow.com/a/2441159
* Docutils has a config for image lazy loading https://docutils.sourceforge.io/docs/user/config.html#image-loading
* Unsure if we can just use that config in ou

[2022-10-18 10:45] lb- commented on #223
Adding as good first issue.

See also some other similar PRs that aim to ensure the column layouts work better
- https://github.com/wagtail/sphinx_wagtail_theme/pull/191
- https://github.com/wagtail/sphinx_wagtail_theme/pull/215

[2022-10-19 08:58] Temidayo32 commented on #226
@lb- I will like to look into this issue

[2022-10-19 09:13] lb- commented on #226
Go for it. I don't really know where to start on this sorry as I'm not super familiar with how RTD works. My concern is that this may require a log-in to the project's RTD account. Any research would be appreciated.

[2022-10-19 09:22] Temidayo32 commented on #226
okay, will do, and inform you on how it goes

[2022-10-19 09:33] Temidayo32 commented on #226
@lb- see the Wagtail documentation itself is showing all releases!
![Screenshot (132)](https://user-images.githubusercontent.com/87539866/196654303-51e7c7f9-558d-4d12-9fc4-95e6ccf07d2d.png)

[2022-10-19 09:54] Temidayo32 commented on #226
See some info I found.

_"Once you have tags/branches created on your Git project, you have to "Activate those versions" on Read the Docs to be built. Go to your Read the Docs' project page and click on "Versions". From there, select the version you want to activate and then save it. After that, it will be built and hosted on Read the Docs."_

So I think it is an RTD thing. Perhaps, those versions

[2022-10-22 17:03] Theresa-o commented on #223
@lb- Currently recreating this issue and would provide feedback.

Thanks

[2022-10-26 09:17] gasman commented on #225
@mohammadareeb95 As mentioned in my comment quoted above - I'm pretty sure that putting it in requirements.txt is not enough for it to be handled automatically as a dependency when installing the package. requirements.txt is just a convenience for people setting up the package manually. To be a proper dependency, it needs to be defined in setup.py (at least, when using the traditional setuptools -

[2022-10-27 11:36] lb- commented on #228
Sorry for the delay - let's keep this open for now and see if we can get your formatting PR through before closing this. Thanks @Temidayo32

[2022-11-01 14:55] thibaudcolas opened #237 "Lightbox feature for images in docs"
We often have screenshots in our documentation, and other illustrative images, for example as part of [the tutorial](https://docs.wagtail.org/en/stable/getting_started/tutorial.html). It would be nice if we allowed viewing those images in a lightbox-style interface, so the images are easier to look at.

For example, on our Getting Started page of the tutorial, we have this screenshot: https://docs

[2022-11-07 11:41] allcaps opened #238 "Move from Netlify to Vercel"
We could move this site to be hosted on Vercel instead? This hosting is only used for pull request previews, which Vercel has as well - and they officially sponsor Wagtail so we have a team account there other people could have access to.

Netlify we’re hosting on a Torchbox account with limited membership so we can't add Wagtail community members.

[2022-11-08 08:50] #238 closed

[2022-11-12 17:27] ashwin31 opened #241 "deployed documentation is not working"
documentation in the readme.md pointing to https://sphinx-wagtail-theme.netlify.app/ is HTTP 404

[2022-11-12 21:00] lb- commented on #241
We recently migrated to Vercel for hosting, I'm guessing you are referring to the GitHub link which now probably put of date.

I'm not sure on the correct URL but this preview URL was generated on the PR that adopted Vercel.

https://sphinx-wagtail-theme-wtojdzah7-wagtail.vercel.app/

https://github.com/wagtail/sphinx_wagtail_theme/pull/240

[2022-11-17 15:51] tbrlpld commented on #223
Totally agree @Scotchester.

My grief with the whitespace is only that it's there while we also have the Horizont scrolling on the page toc on the right.

But yes, we should have more whitespace on a large viewport like this.

[2022-11-17 15:56] Scotchester commented on #223
Thanks, @tbrlpld, but just to reiterate: The horizontal scrolling has been fixed :) See: https://docs.wagtail.org/en/stable/releases/3.0.html

[2022-11-21 12:08] laymonage opened #242 "Code snippet copy button isn't visible when focused unless hovered"
The copy button on code snippets is only visible when it's hovered. When navigating with the keyboard, the focus can be moved to the copy button, but unless the block is hovered, it's confusing as we can't see where the focus is.

https://user-images.githubusercontent.com/6379424/203048961-77594399-30d1-4a0b-8ffc-07f9aeee49d9.mov